* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
}
.nav-container {
  display: flex;
  font-size: 24px;
  color: #ffe6d6;
  align-items: center;
  background-color: rgb(42, 22, 0);
  justify-content: flex-end;
  gap: 60px;
  padding: 10px;
  padding-right: 90px;
  border-bottom: 1px solid #3f1900;
}
.logo-link-img {
  height: 80px;
  display: block;
}
.el-nav1 {
  margin-right: auto;
}

.el {
  border: 1px solid rgba(245, 222, 179, 0.286);
  border-radius: 6px;
}
.el-nav1 {
  margin-left: 90px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;

  color: rgb(255, 233, 211);

  transition: all 0.6s;
}
.nav-link:hover,
.nav-link:active {
  color: rgb(23, 13, 0);
  background-color: #ffe6d0;
  font-weight: normal;
}
.section-hero {
  background-color: rgb(48, 26, 0);

  padding-top: 90px;
  padding-bottom: 90px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  column-gap: 10px;
}
.img-hero {
}

.hero-left {
  margin: 0px 100px 0 100px;
}

.hero-heading {
  color: #ffe6d6;
  font-family: rubik;
  font-size: 80px;
  line-height: 85px;
  margin-bottom: 20px;
}
.hero-left-definition {
  color: #ffe6d6;
  font-family: rubik;
  font-size: 20px;
  font-style: normal;

  margin-bottom: 40px;
}
.buttons-container {
  display: flex;

  justify-content: space-around;

  margin-bottom: 40px;
}
.button-hero1 {
  font-size: 28px;
  width: 200px;
  height: 45px;
  color: #ffe6d6;
  background-color: rgb(0, 80, 0);
  border: 2px solid #ffe6d6;
  border-radius: 10px;
}
.button-hero2 {
  font-size: 28px;
  width: 200px;
  height: 45px;
  color: #170d00;
  background-color: #ffe6d6;
  border: 2px solid #ffe6d6;
  border-radius: 10px;
  position: relative;
}
.icon-i {
  stroke: #170d00;
  width: 28px;
  vertical-align: text-bottom;
}
.img-visitors-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 25px;
  color: #ffe6d6;
}
.img-visitors {
  width: 95px;
  height: auto;
  border: 3px solid #ffe6d6;
  border-radius: 50%;
  margin-left: -25px;
}
.delivered {
  margin-left: 35px;
}
.press {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 40px;

  flex-wrap: nowrap;
  overflow: hidden;
}

.section-press {
  background-color: #fff0e6;
  padding: 40px;
}
.img-press {
  width: 150px;
  height: 75px;
  object-fit: cover;

  filter: grayscale(1);
  border: 2px solid rgb(165, 163, 42);
  border-radius: 5%;
}
.h3 {
  text-decoration: underline;

  text-align: center;
  margin: 40px 0 20px 0;
  color: #3f1900;
  font-family: rubik;
  font-size: 30px;
  font-style: normal;
}

.section-mobile {
  border-bottom: 1px solid #3f1900;
}

.mobile-heading {
  padding: 150px 0px 100px 0px;
  text-align: center;
  background-color: #ffe6d0;
  font-size: 70px;
  color: rgb(148, 148, 148);
  font-family: rubik;
  border-top: 1px solid #3f1900;
}

.step {
  font-family: rubik;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 220px;
  background-color: #ffe6d0;
  padding: 40px 0px 80px 0px;
  position: relative;
}
.step-number {
  text-align: left;
  font-size: 140px;
  color: rgb(148, 148, 148);
  font-family: rubik;
}
.step-heading {
  font-size: 70px;
  color: #170d00;
  font-family: rubik;
  margin-bottom: 20px;
}
.step-description {
  text-align: start;
  font-size: 24px;
  color: #170d00;
  font-family: rubik;

  width: 540px;
}

.step-left {
  margin-left: auto;
  position: relative;
}
.step-right {
  margin-right: auto;
  position: relative;
}
.step-img-png {
  height: 500px;
  position: relative;
  z-index: 2;
}

.step-img::after {
  content: "";
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #170d0015;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -0;
}
.step-img::before {
  content: "";
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #bb6a0051;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -0;
}
.span-menu {
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
}
.h3 {
  text-align: center;
}
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px 200px 800px;
  justify-items: center;

  padding-bottom: 80px;
}
.img-menu {
  width: 350px;
  height: 400px;
  object-fit: cover;

  border: 2px solid #ffede1;
  border-radius: 10px;
  grid-row: 1/2;
}
.menu-list {
  list-style-type: none;
  line-height: 30px;
  font-weight: 750;
  color: #3b3b3b;
  background-color: #3f1900;
  grid-row: 6 / 9;
}

.gourmet-menu-pre-heading {
  display: inline-block;
  background-color: #ffede1;
  color: #3f1900;
  margin: 5px 0px 5px 0px;
  padding: 3px;
  border-radius: 100px;
  letter-spacing: 0.5px;
}
.gourmet-menu-heading {
  margin: 0px 0px 15px 0px;
  padding: 3px;
  border-radius: 100px;
  letter-spacing: 0.5px;
  color: #3b3b3b;
}
.menu-icon {
  stroke: #ff5e00;
  width: 18px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.menu-card {
  width: 400px;
  height: 600px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.img-menu-2 {
  background-position: left top;
}
